<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nuscreen Inc.</title>
	<link rel="stylesheet" href="dist/styles/main.css">
</head>
<body>
	{{> header}}
	{{> video}}
	{{> footer}}
</body>
</html>