
<div class="read-more">
	<p>Our latest post on Medium | July 27, 2015</p>
	<p>What does Mobile Growth mean for Advertisers</p>
	<button class="uppercase">Read More</button>
</div>

<div class="image-grid">
	<div class="image-grid-child">
		<img src="dist/img/nuteam.png" alt="">
	</div>
	<div class="image-grid-child">
		<img src="dist/img/nuteam.png" alt="">
	</div>
	<div class="image-grid-child">
		<img src="dist/img/nuteam.png" alt="">
	</div>
	<div class="image-grid-child">
		<img src="dist/img/nuteam.png" alt="">
	</div>
	<div class="image-grid-child">
		<img src="dist/img/nuteam.png" alt="">
	</div>
	<div class="image-grid-child">
		<img src="dist/img/nuteam.png" alt="">
	</div>
	<div class="image-grid-child">
		<img src="dist/img/nuteam.png" alt="">
	</div>
	<div class="image-grid-child">
		<img src="dist/img/nuteam.png" alt="">
	</div>
	<div class="image-grid-child">
		<img src="dist/img/nuteam.png" alt="">
	</div>
	<div class="image-grid-child last-child invisible">
	</div>
</div>

<div class="contact center">
	<p>
		Have an idea?
		<a href="#" class="to-teal">Lets make it happen.</a>
	</p>
	<p>
		<span class="uppercase teal-border">next</span>
		<span>
			<a href="#" class="to-teal">Learn about us</a>
		</span>
	</p>
</div>