<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nuscreen Inc.</title>
	<link rel="stylesheet" href="dist/styles/main.css">
</head>
<body>
	<video src="https://www.nuscreeninc.com/img/nuteaser_2.mp4" preload="" loop="" muted="" autoplay="" type="video/mp4; codecs=avc1.42E01E,mp4a.40.2" id="bgvid"></video>
	</video>
	<div class="wrapper text">
		<h1 class="uppercase">We're a digital-first agency.</h1>
		<h3>Building Businesses with Innovative Ideas & Smart Solutions.</h3>
		<a href="#" class="uppercase">Check out what we can do to help your business</a>
	</div>
</body>
</html>