
<video src="https://www.nuscreeninc.com/img/nuteaser_2.mp4" preload="" loop="" muted="" autoplay="" type="video/mp4; codecs=avc1.42E01E,mp4a.40.2" id="bgvid"></video>
</video>

<div class="wrapper text">
	<h1 class="uppercase biggest-text">We're a digital-first <br>agency.</h1>
	<p class="bold medium-text">Building Businesses with Innovative Ideas & Smart Solutions.</p>
	<a href="#" class="uppercase small-text to-teal">Check out what we can do to help your business</a>
</div>

<div class="section-about">
	<div class="flex-container">
		<div class="section-about__01">
			<p class="uppercase small-text">Not sure what you need?</p>
			<p class="bold large-text">
				<a href="#" class="to-teal">Book a discovery session</a>
			</p>
		</div>
		<div class="section-about__02">
			<p class="uppercase small-text">Looking for some inspo?</p>
			<p class="bold large-text">
				<a href="#" class="to-teal">See #WhatsNU</a>
			</p>
		</div>
		<div class="section-about__03">
			<p class="uppercase small-text">Are we the right fit??</p>
			<p class="bold large-text">
				<a href="#" class="to-teal">Learn more about our squad</a>
			</p>
		</div>
	</div>
</div>


