body {
	font-family: 'Noto Serif', 'sans-serif';
	letter-spacing: 0.05em;
	color: #555;
@media (max-width: 740px) {
	font-size: 0.85em;
}
}
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
header {
	width: 100%;
	background-color: #313131;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: 740px) {
		flex-direction: column;
	}
}
.logo {
	width: 140px;
	@media (max-width: 740px) {
		align-self: flex-start;
		padding: 5px;
	}
}
.menu-items {
	@media (max-width: 740px) {
		width: 100%;
		// position: absolute;
		// top: 60px;
	}
	ul {
		display: flex;
		@media (max-width: 740px) {
			width: 100%;
			flex-direction: column;
			text-align: center;
		}
	}
	li {
		margin-right: 14px;
		@media (max-width: 740px) {
			border-bottom: 1px solid $global-teal-overlay;
			margin-right: 0;
		}
	}
	a{
		color: #fff;
		display: inline-block;
    	padding: 25px 5px 20px 5px;
    	transition: 0.2s all;
		&:hover {
			color: $global-teal;
		}
		@media (max-width: 740px) {
			padding: 15px;
		}
	}
}
.nav-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	width: 25px;
	img {
		width: 100%;
	}
}