.uppercase {
	text-transform: uppercase;
}
.bold {
	font-weight: 700;
}
.center {
	text-align: center;
}
.invisible {
	display: none;
}
.to-teal {
	transition: 0.2s all;
	&:hover {
		color: $global-teal;
	}
}
